.login-form{
  position: relative;
}

.login-form input[type='text'] {
	font: 5vw sans-serif;
	box-sizing: border-box;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	border: 1px solid #1b2538;
	border-radius: 4px;
}
.ef input[type='text']:focus {
	border: 1px solid #da3c41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}

.inputBox{
  height: 100px;
  padding-top: 30vh;
  text-align: center;
}

.submitBtn input{
  margin: 10px 0 10px;
  width: 40vw;
  height: 100px;
  padding: 0 5px;
  border: none;
  font-size: 40px;
}

.submit-btn{
  opacity: 0.6;
  background-color: #c4bfbf;
  color: #222222;
}

.submit-btn:active{
  transition: 0.3s;
  opacity: 1;
}

.submitBtn{
  padding-top: 5%;
  text-align: center;
}
